.Modal {
    position: fixed;
    z-index: 500;
    background: burlywood;
    font-size: 22px;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 1px black;
    padding: 8px;
    left: 15%;
    top: 37%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.modal-win {
    color: green;
}
.modal-loss {
    color: red;
}
.modal-draw {
    color: black;
}
@media (min-width: 600px) {
    .Modal {
        width: 325px;
        left: calc(50% - 120px);
    }
}