/* card itself
********************************************************************/

.playingCards .card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 2.4em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: rgb(255, 255, 255);
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}


.playingCards .card.back {
    background-image: url("../Images/BackofCard.jpg");
    background-size: 74.95px 99.91px;
}


/* suit colours
********************************************************************/

.playingCards .card.diams {
    color: #f00 !important;
}
.playingCards .card.hearts {
    color: #f00 !important;
}
.playingCards .card.spades {
    color: #000 !important;
}
.playingCards .card.clubs {
    color: #000 !important;
}


/* inner bits
********************************************************************/

/* top left main info (rank and suit) */

.playingCards .card .rank, 
.playingCards .card .suit {
    display: block;
    line-height: .8;
    text-align: left;
}


/* inner multiple suits */
.playingCards .card .suit:after {
    display: block;
    margin-top: -.2em;
    text-align: center;
    white-space: pre;
    line-height: .9;
    font-size: 1.3em;
    word-spacing: -.05em;
}

/* make the hearts and clubs symbols fit, because they are a bit bigger than the others */
.playingCards .card.hearts .suit:after {
    word-spacing: -.15em;
}
.playingCards .card.hearts.rank-10 .suit:after {
    word-spacing: -.13em;
    letter-spacing: -.1em;
}
.playingCards .card.clubs.rank-10 .suit:after {
    word-spacing: -.15em;
}

/* 8, 9, 10 are the most crowded */
.playingCards .card.rank-8 .suit:after,
.playingCards .card.rank-9 .suit:after {
    letter-spacing: -.075em;
}
.playingCards .card.rank-10 .suit:after {
    letter-spacing: -.1em;
}
.playingCards .card.clubs .suit:after {
    letter-spacing: -.125em;
}

/*____________ symbols in the middle (suits, full) ____________*/

/* diamonds */
.playingCards .card.rank-2.diams .suit:after {
    content: "\2666 \A\A\2666";
}
.playingCards .card.rank-3.diams .suit:after {
    content: "\2666 \A\2666 \A\2666";
}
.playingCards .card.rank-4.diams .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-5.diams .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\2666 \A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-6.diams .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\2666\00A0\00A0\00A0\2666 \A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-7.diams .suit:after {
    content: "\2666\00A0\00A0\2666 \A\2666\00A0\2666\00A0\2666 \A\2666\00A0\00A0\2666";
}
.playingCards .card.rank-8.diams .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards .card.rank-9.diams .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards .card.rank-10.diams .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}

/* hearts */
.playingCards .card.rank-2.hearts .suit:after {
    content: "\2665 \A\A\2665";
}
.playingCards .card.rank-3.hearts .suit:after {
    content: "\2665 \A\2665 \A\2665";
}
.playingCards .card.rank-4.hearts .suit:after {
    content: "\2665\00A0\00A0\00A0\2665 \A\A\2665\00A0\00A0\00A0\2665";
}
.playingCards .card.rank-5.hearts .suit:after {
    content: "\2665\00A0\00A0\00A0\2665 \A\2665 \A\2665\00A0\00A0\00A0\2665";
}
.playingCards .card.rank-6.hearts .suit:after {
    content: "\2665\00A0\00A0\00A0\2665 \A\2665\00A0\00A0\00A0\2665 \A\2665\00A0\00A0\00A0\2665";
}
.playingCards .card.rank-7.hearts .suit:after {
    content: "\2665\00A0\00A0\2665 \A\2665\00A0\2665\00A0\2665 \A\2665\00A0\00A0\2665";
}
.playingCards .card.rank-8.hearts .suit:after {
    content: "\2665\00A0\2665\00A0\2665 \A\2665\00A0\00A0\2665 \A\2665\00A0\2665\00A0\2665";
}
.playingCards .card.rank-9.hearts .suit:after {
    content: "\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665";
}
.playingCards .card.rank-10.hearts .suit:after {
    content: "\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665";
}

/* spades */
.playingCards .card.rank-2.spades .suit:after {
    content: "\2660 \A\A\2660";
}
.playingCards .card.rank-3.spades .suit:after {
    content: "\2660 \A\2660 \A\2660";
}
.playingCards .card.rank-4.spades .suit:after {
    content: "\2660\00A0\00A0\00A0\2660 \A\A\2660\00A0\00A0\00A0\2660";
}
.playingCards .card.rank-5.spades .suit:after {
    content: "\2660\00A0\00A0\00A0\2660 \A\2660 \A\2660\00A0\00A0\00A0\2660";
}
.playingCards .card.rank-6.spades .suit:after {
    content: "\2660\00A0\00A0\00A0\2660 \A\2660\00A0\00A0\00A0\2660 \A\2660\00A0\00A0\00A0\2660";
}
.playingCards .card.rank-7.spades .suit:after {
    content: "\2660\00A0\00A0\2660 \A\2660\00A0\2660\00A0\2660 \A\2660\00A0\00A0\2660";
}
.playingCards .card.rank-8.spades .suit:after {
    content: "\2660\00A0\2660\00A0\2660 \A\2660\00A0\00A0\2660 \A\2660\00A0\2660\00A0\2660";
}
.playingCards .card.rank-9.spades .suit:after {
    content: "\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660";
}
.playingCards .card.rank-10.spades .suit:after {
    content: "\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660";
}

/* clubs */
.playingCards .card.rank-2.clubs .suit:after {
    content: "\2663 \A\A\2663";
}
.playingCards .card.rank-3.clubs .suit:after {
    content: "\2663 \A\2663 \A\2663";
}
.playingCards .card.rank-4.clubs .suit:after {
    content: "\2663\00A0\00A0\00A0\2663 \A\A\2663\00A0\00A0\00A0\2663";
}
.playingCards .card.rank-5.clubs .suit:after {
    content: "\2663\00A0\00A0\00A0\2663 \A\2663 \A\2663\00A0\00A0\00A0\2663";
}
.playingCards .card.rank-6.clubs .suit:after {
    content: "\2663\00A0\00A0\00A0\2663 \A\2663\00A0\00A0\00A0\2663 \A\2663\00A0\00A0\00A0\2663";
}
.playingCards .card.rank-7.clubs .suit:after {
    content: "\2663\00A0\00A0\2663 \A\2663\00A0\2663\00A0\2663 \A\2663\00A0\00A0\2663";
}
.playingCards .card.rank-8.clubs .suit:after {
    content: "\2663\00A0\2663\00A0\2663 \A\2663\00A0\00A0\2663 \A\2663\00A0\2663\00A0\2663";
}
.playingCards .card.rank-9.clubs .suit:after {
    content: "\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663";
}
.playingCards .card.rank-10.clubs .suit:after {
    content: "\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663";
}

.playingCards ul.table {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    position: relative;
    clear: both;
}
.playingCards ul.table li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.playingCards .card.rank-J .suit:after,
.playingCards .card.rank-Q .suit:after,
.playingCards .card.rank-K .suit:after,
.playingCards .card.rank-A .suit:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}
.playingCards .card.rank-J .suit:after {
    content: "\265F";
    right: .15em;
}
.playingCards .card.rank-Q .suit:after {
    content: "\265B";
}
.playingCards .card.rank-K .suit:after {
    content: "\265A";
}

/* big suits in middle */
.playingCards.simpleCards .card .suit:after,
.playingCards .card.rank-A .suit:after {
    font-family: Arial, sans-serif;
    line-height: .9;
    bottom: .35em;
}
.playingCards .card.rank-A.diams .suit:after {
    content: "\2666";
    right: .4em;
}
.playingCards .card.rank-A.hearts .suit:after {
    content: "\2665";
    right: .35em;
}
.playingCards .card.rank-A.spades .suit:after {
    content: "\2660";
    right: .35em;
}
.playingCards .card.rank-A.clubs .suit:after {
    content: "\2663";
    right: .3em;
}